t]
Description=Install Twistlock Client keys
After=docker.service bootstrap.service create-users.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
ExecStart=/usr/bin/sudo bash /home/core/mesos-systemd/v2/setup/twistlock-user.sh

[X-Fleet]
Global=true
