[Unit]
Description=Install Twistlock Defender
After=docker.service bootstrap.service
Requires=docker.service


[Service]
Environment="twistlockusername=etcdctl get /twistlockusername"
Environment="twistlockpassword=etcdctl get /twistlockpassword"
Environment="twistlockparameter=etcdctl get /twistlockparameter"
User=core
TimeoutStartSec=0
ExecStart=curl -sSL -k --header "authorization:Bearer \
$(eval echo $(echo $(curl -s -H "Content-Type: application/json" \
-d '{"username":"'$(eval echo $twistlockusername)'", "password":"'$(eval echo $twistlockpassword)'"}' \
https://"$(eval echo $twistlockparameter)":443/api/v1/authenticate) | sed -ne 's/.*"token":"\([^,]*\)".*/\1/p'))" \
https://"$(eval echo $twistlockparameter)"/api/v1/scripts/defender.sh \
-o defender.sh && chmod a+x defender.sh && sudo ./defender.sh

[X-Fleet]
Global=true

