Unit]
Description=Install Scalock Gateway
After=docker.service bootstrap.service
Requires=docker.service


[Service]
User=core
TimeoutStartSec=0


ExecStart=/usr/bin/sh -c "sudo docker run -d -p 3622:3622 --name scalock-gateway \
    -e SCALOCK_DB_DATABASE=`etcdctl get /SCALOCK/SCALOCK_DB_DATABASE` \
    -e SCALOCK_DB_ENGINE=`etcdctl get /SCALOCK/SCALOCK_DB_ENGINE` \
    -e SCALOCK_DB_PASSWORD=`etcdctl get /SCALOCK/SCALOCK_DB_PASSWORD` \
    -e SCALOCK_DB_PATH=`etcdctl get /SCALOCK/SCALOCK_DB_PATH` \
    -e SCALOCK_DB_USERNAME=`etcdctl get /SCALOCK/SCALOCK_DB_USERNAME` \
    -e SCALOCK_AUDIT_DATABASE=`etcdctl get /SCALOCK/SCALOCK_AUDIT_DATABASE` \
    -e SCALOCK_AUDIT_ENGINE=`etcdctl get /SCALOCK/SCALOCK_AUDIT_ENGINE` \
    -e SCALOCK_AUDIT_PASSWORD=`etcdctl get /SCALOCK/SCALOCK_AUDIT_PASSWORD` \
    -e SCALOCK_AUDIT_PATH=`etcdctl get /SCALOCK/SCALOCK_AUDIT_PATH` \
    -e SCALOCK_AUDIT_USERNAME=`etcdctl get /SCALOCK/SCALOCK_AUDIT_USERNAME` \

    scalock/scalock-gateway"

[X-Fleet]
Global=true
